@model Zebra.ViewModels.View.AdminCategory.VMAdminCategoryIndex


<ul class="demo-list-item mdl-list">
    @foreach (var cat in Model.Categories)
    {
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                @cat.CategoryName
            </span>
        </li>
    }
</ul>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" style="top: auto;right: 50px;bottom: 50px;left: auto;position: fixed;">
    <i class="material-icons">add</i>
</button>