@model List<Zebra.ViewModels.Common.VMProductBaseInfo>

<div class="col-md-12" style="margin-top:60px;">
    @if (Model != null && Model.Any())
    {
        foreach (var product in Model)
        {
            <div class="col-md-3">
                <div style="box-shadow: 3px 3px 3px #888888; margin:6px;border: 1px solid; padding:5px;">
                    <div class="product-header">
                        <h4>@product.Name</h4>
                    </div>
                    <div class="product-body">
                        <img width="200" height="200" src="~/img/@product.FileName" />
                        <div>
                            @product.Description
                        </div>
                    </div>
                    <div class="product-footer">
                        @product.BasePrice
                        <i class="material-icons">add_shopping_cart</i>
                    </div>
                </div>
            </div>

        }
    }
</div>
